﻿body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:url('../../images/entrance_page/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:270px;
  width:470px;
  height:70px;
  font-size:20px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:290px;
  width:1200px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u3 {
  position:absolute;
  left:855px;
  top:200px;
  width:171px;
  height:3px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:3px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-6px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(187, 32, 54, 1);
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:100px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:50px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u12 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:344px;
  top:0px;
  width:482px;
  height:50px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:488px;
  height:56px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:55px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:50px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:50px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:360px;
  top:0px;
  width:122px;
  height:50px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:118px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1026px;
  top:50px;
  width:174px;
  height:50px;
}
#u23_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:180px;
  height:56px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:55px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:170px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:89px;
  top:32px;
  width:262px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:100px;
  width:1028px;
  height:100px;
}
#u29_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1034px;
  height:106px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:105px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
}
#u31_img.selected {
}
#u31.selected {
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:171px;
  top:0px;
  width:171px;
  height:100px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
}
#u33_img.selected {
}
#u33.selected {
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:100px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
}
#u35_img.selected {
}
#u35.selected {
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:513px;
  top:0px;
  width:171px;
  height:100px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
}
#u37_img.selected {
}
#u37.selected {
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:167px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:684px;
  top:0px;
  width:171px;
  height:100px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:100px;
}
#u39_img.selected {
}
#u39.selected {
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:35px;
  width:167px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:855px;
  top:0px;
  width:173px;
  height:100px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:100px;
}
#u41_img.selected {
}
#u41.selected {
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:169px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:171px;
  top:100px;
  width:171px;
  height:300px;
  visibility:hidden;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:177px;
  height:306px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:305px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u45_img.selected {
}
#u45.selected {
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:60px;
  width:171px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u47_img.selected {
}
#u47.selected {
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:120px;
  width:171px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u49_img.selected {
}
#u49.selected {
}
#u49_img.mouseOver {
}
#u49.mouseOver {
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:180px;
  width:171px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u51_img.selected {
}
#u51.selected {
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:240px;
  width:171px;
  height:60px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:60px;
}
#u53_img.selected {
}
#u53.selected {
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:855px;
  top:100px;
  width:173px;
  height:180px;
  visibility:hidden;
}
#u55_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:179px;
  height:186px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:185px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u57_img.selected {
}
#u57.selected {
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:60px;
  width:173px;
  height:60px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u59_img.selected {
}
#u59.selected {
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:15px;
  width:169px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:120px;
  width:173px;
  height:60px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:60px;
}
#u61_img.selected {
}
#u61.selected {
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:22px;
  width:169px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:15px;
  top:27px;
  width:45px;
  height:45px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:89px;
  top:50px;
  width:262px;
  height:18px;
  font-size:14px;
  color:#CCCCCC;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:17px;
  top:31px;
  width:41px;
  height:41px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u68 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1026px;
  top:100px;
  width:174px;
  height:100px;
}
#u69_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:180px;
  height:106px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:105px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:100px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:100px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:2px;
  top:42px;
  width:170px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:100px;
  width:174px;
  height:60px;
  visibility:hidden;
}
#u73_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:180px;
  height:66px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:65px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
  color:#000000;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:60px;
}
#u75_img.mouseOver {
}
#u75.mouseOver {
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:170px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:836px;
  top:5px;
  width:190px;
  height:40px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:186px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:810px;
  top:50px;
  width:216px;
  height:50px;
  overflow:hidden;
  visibility:hidden;
}
#u79_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:28px;
  top:15px;
  width:202px;
  height:15px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1026px;
  top:0px;
  width:174px;
  height:50px;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1036px;
  top:9px;
  width:154px;
  height:32px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
  background-color:transparent;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u87 {
  position:absolute;
  left:922px;
  top:57px;
  width:38px;
  height:38px;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:974px;
  top:57px;
  width:38px;
  height:38px;
  font-family:'', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:253px;
  width:261px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:799px;
  top:490px;
  width:401px;
  height:240px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:240px;
}
#u94 {
  position:absolute;
  left:2px;
  top:112px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:250px;
  top:440px;
  width:470px;
  height:70px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:250px;
  top:550px;
  width:491px;
  height:130px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:130px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:250px;
  top:460px;
  width:950px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u100 {
  position:absolute;
  left:250px;
  top:510px;
  width:470px;
  height:70px;
  font-size:14px;
  color:#FFFFFF;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:250px;
  top:830px;
  width:260px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u103 {
  position:absolute;
  left:250px;
  top:924px;
  width:491px;
  height:130px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:130px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:250px;
  top:884px;
  width:470px;
  height:70px;
  font-size:14px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:799px;
  top:924px;
  width:401px;
  height:130px;
  font-size:14px;
  line-height:18px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:130px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:799px;
  top:730px;
  width:401px;
  height:130px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:130px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:250px;
  top:1230px;
  width:470px;
  height:70px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:250px;
  top:1292px;
  width:800px;
  height:208px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:208px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:250px;
  top:1250px;
  width:950px;
  height:10px;
}
#u115_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u115_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u116 {
  position:absolute;
  left:250px;
  top:1530px;
  width:491px;
  height:130px;
  font-size:14px;
  line-height:18px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:130px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:250px;
  top:1450px;
  width:260px;
  height:50px;
  color:#FFFFFF;
  text-align:left;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u118_img.mouseOver {
}
#u118.mouseOver {
}
#u119 {
  position:absolute;
  left:30px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:250px;
  top:1870px;
  width:470px;
  height:70px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:250px;
  top:1932px;
  width:800px;
  height:78px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:78px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:250px;
  top:1890px;
  width:950px;
  height:10px;
}
#u124_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u125 {
  position:absolute;
  left:800px;
  top:2394px;
  width:400px;
  height:130px;
  font-size:14px;
  line-height:18px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:130px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:270px;
  top:2280px;
  width:270px;
  height:50px;
  color:#FFFFFF;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
}
#u127_img.mouseOver {
}
#u127.mouseOver {
}
#u128 {
  position:absolute;
  left:30px;
  top:16px;
  width:238px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:250px;
  top:2020px;
  width:540px;
  height:120px;
  font-size:25px;
  color:#FFFFFF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:120px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:799px;
  top:2024px;
  width:401px;
  height:240px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:240px;
}
#u132 {
  position:absolute;
  left:2px;
  top:112px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:799px;
  top:2264px;
  width:401px;
  height:130px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:130px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:250px;
  top:2100px;
  width:540px;
  height:78px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:78px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:270px;
  top:2230px;
  width:540px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:250px;
  top:2394px;
  width:540px;
  height:130px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:130px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:270px;
  top:2514px;
  width:270px;
  height:50px;
  color:#FFFFFF;
  text-align:left;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:50px;
}
#u141_img.mouseOver {
}
#u141.mouseOver {
}
#u142 {
  position:absolute;
  left:30px;
  top:16px;
  width:238px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:270px;
  top:2464px;
  width:540px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:30px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:250px;
  top:2690px;
  width:470px;
  height:70px;
  color:#FFFFFF;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:250px;
  top:2752px;
  width:800px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:28px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:250px;
  top:2710px;
  width:950px;
  height:10px;
}
#u149_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u149_end {
  position:absolute;
  left:933px;
  top:-5px;
  width:18px;
  height:20px;
}
#u149_line {
  position:absolute;
  left:0px;
  top:5px;
  width:950px;
  height:1px;
}
#u150 {
  position:absolute;
  left:250px;
  top:2796px;
  width:420px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u150_img.mouseOver {
}
#u150.mouseOver {
}
#u151 {
  position:absolute;
  left:30px;
  top:16px;
  width:388px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:250px;
  top:2915px;
  width:420px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u152_img.mouseOver {
}
#u152.mouseOver {
}
#u153 {
  position:absolute;
  left:30px;
  top:16px;
  width:388px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:250px;
  top:2985px;
  width:420px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u154_img.mouseOver {
}
#u154.mouseOver {
}
#u155 {
  position:absolute;
  left:30px;
  top:16px;
  width:388px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:250px;
  top:3055px;
  width:420px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u156_img.mouseOver {
}
#u156.mouseOver {
}
#u157 {
  position:absolute;
  left:30px;
  top:16px;
  width:388px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:250px;
  top:3176px;
  width:420px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:50px;
}
#u158_img.mouseOver {
}
#u158.mouseOver {
}
#u159 {
  position:absolute;
  left:30px;
  top:7px;
  width:388px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:3360px;
  width:1200px;
  height:280px;
  overflow:hidden;
}
#u160_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u160_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u161 {
  position:absolute;
  left:0px;
  top:3290px;
  width:1200px;
  height:350px;
  overflow:hidden;
}
#u161_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:350px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u161_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162 {
  position:absolute;
  left:0px;
  top:3624px;
  width:1200px;
  height:15px;
  font-size:11px;
  color:#999999;
  text-align:right;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:15px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:0px;
  top:3614px;
  width:1200px;
  height:10px;
}
#u164_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_end {
  position:absolute;
  left:1183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u164_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1200px;
  height:1px;
}
#u165 {
  position:absolute;
  left:280px;
  top:3624px;
  width:60px;
  height:15px;
  font-size:11px;
  color:#999999;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u165_img.mouseOver {
}
#u165.mouseOver {
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:3610px;
  width:100px;
  height:40px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u167_img.mouseOver {
}
#u167.mouseOver {
}
#u168 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:130px;
  top:3610px;
  width:130px;
  height:40px;
  font-size:11px;
  color:#999999;
  text-align:left;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u169_img.mouseOver {
}
#u169.mouseOver {
}
#u170 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:0px;
  top:320px;
  width:1026px;
  height:55px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:55px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:799px;
  top:1064px;
  width:201px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u173_img.mouseOver {
}
#u173.mouseOver {
}
#u174 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:250px;
  top:1646px;
  width:201px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u175_img.mouseOver {
}
#u175.mouseOver {
}
#u176 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:800px;
  top:2534px;
  width:201px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:50px;
}
#u177_img.mouseOver {
}
#u177.mouseOver {
}
#u178 {
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:0px;
  top:375px;
  width:200px;
  height:50px;
  font-size:14px;
  color:#BB2036;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u179_img.selected {
}
#u179.selected {
}
#u179_img.mouseOver {
}
#u179.mouseOver {
}
#u180 {
  position:absolute;
  left:0px;
  top:16px;
  width:200px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:425px;
  width:200px;
  height:50px;
  color:#FFFFFF;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u181_img.mouseOver {
}
#u181.mouseOver {
}
#u182 {
  position:absolute;
  left:0px;
  top:16px;
  width:200px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:0px;
  top:475px;
  width:200px;
  height:50px;
  color:#FFFFFF;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u183_img.mouseOver {
}
#u183.mouseOver {
}
#u184 {
  position:absolute;
  left:0px;
  top:16px;
  width:200px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:0px;
  top:525px;
  width:200px;
  height:50px;
  color:#FFFFFF;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u185_img.mouseOver {
}
#u185.mouseOver {
}
#u186 {
  position:absolute;
  left:0px;
  top:16px;
  width:200px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:205px;
  top:3369px;
  width:200px;
  height:33px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
}
#u188 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:460px;
  top:3345px;
  width:127px;
  height:80px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:80px;
}
#u190 {
  position:absolute;
  left:2px;
  top:32px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:645px;
  top:3340px;
  width:190px;
  height:85px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:85px;
}
#u192 {
  position:absolute;
  left:2px;
  top:34px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:895px;
  top:3351px;
  width:100px;
  height:62px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u194 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:50px;
  top:3475px;
  width:1100px;
  height:10px;
}
#u195_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_end {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u195_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u196 {
  position:absolute;
  left:200px;
  top:2780px;
  width:800px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u196_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u196_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
}
#u198 {
  position:absolute;
  left:2px;
  top:392px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:760px;
  top:14px;
  width:20px;
  height:20px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:0px;
  top:34px;
  width:800px;
  height:55px;
  font-size:18px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:55px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:80px;
  top:120px;
  width:640px;
  height:610px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:610px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:200px;
  top:2780px;
  width:800px;
  height:800px;
  overflow:hidden;
  visibility:hidden;
}
#u205_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:800px;
}
#u207 {
  position:absolute;
  left:2px;
  top:392px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:760px;
  top:14px;
  width:20px;
  height:20px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:0px;
  top:34px;
  width:800px;
  height:55px;
  font-size:18px;
  text-align:center;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:55px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:80px;
  top:120px;
  width:640px;
  height:610px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:610px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:620px;
  top:3568px;
  width:470px;
  height:30px;
  color:#666666;
  text-align:center;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:30px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:755px;
  top:3514px;
  width:201px;
  height:40px;
  opacity:0.7;
  font-size:14px;
  color:#FFFFFF;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u216_img.mouseOver {
}
#u216.mouseOver {
}
#u217 {
  position:absolute;
  left:2px;
  top:12px;
  width:197px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:235px;
  top:3510px;
  width:340px;
  height:100px;
  color:#666666;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:100px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
