//  ======================================  //
//
//  COMMON SETTINGS
//
//  ======================================  //

//	Baseline
$baseline: 24px;

//	Primary Colours
$white: 		#fff;
$black:			#000;
$red: 			#bb2036;
$red-light:		#c64658;
$red-dark:		darken($red, 20%);
$yellow:		#fde802;
$border-grey: 	#d8d6d4;
$bg-white:		#f2f2f2;
$grey:			#dcdcdc;

$light-grey:	#eaeaea;

//  Breakpoints
$xl:			"min-width  :  1301px";
$lg:			"min-width  :  1201px", "max-width : 1300px";
$md:			"min-width  :  992px", "max-width : 1200px";
$sm:			"min-width  :  768px", "max-width : 991px";
$xs:			"max-width  :  767px";

$not-desktop: 	"max-width  :  991px";
$not-mobile: 	"min-width  :  992px";

//  Media Query List
$media-queries: $xs, $sm, $md, $lg, $xl, $not-desktop, $not-mobile;


// fonts
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 14px;
$base-line-height: 18px;

$secondary-font-family: 'Roboto Condensed', sans-serif;





//Placeholders

%transition {
	transition-duration: 0.4s;
	transition-timing-function: ease;
}
%transition-slow {
	transition-duration: 0.8s;
	transition-timing-function: ease;
}

// used to position content off screen but still allows screen readers to read text
.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
