@charset "utf-8";

//Base settings
@import "settings";

// Mixins
@import "mixins/keyframe";
@import "mixins/prefix";
@import "mixins/media";
@import "mixins/non-compass-clearfix";
@import "mixins/rem-font-sizing";

// Core
@import "partials/core/reset";
@import "partials/core/typography";
//@import "partials/core/buttons";


//Objects
@import "objects/fonts";
@import "objects/background-styles";
@import "objects/list-types";


//Overides
body {

  color: $black;
}

.arrow-list li:before {
  border-color: transparent transparent transparent $black;
}

.dark.arrow-list li:before,
.side-nav li a.active:before {
  border-color: transparent transparent transparent $white;
}

.pdf-icon{
  font: inherit;
}
.link-icon{
  font: inherit;

}
