body.bg-white {
	  background-color: $bg-white;
    color: $black;

//Links
		a{
			color: $red;
			text-decoration: none;

			&:hover{
				color: $red;
				text-decoration: underline;
			}
			&:visited {
				color: $red;
				text-decoration: none;
			}
			&:focus{
				color: $red;
				text-decoration: none;
			}
		}

		a.dark, .dark a{
			color: $white;
			text-decoration: none;

			&:hover{
				color: $white;
				text-decoration: underline;
			}
			&:visited {
				color: $white;
				text-decoration: none;
			}
			&:focus{
				color: $white;
				text-decoration: none;
			}
		}

		.logo a, .side-nav a, .social-icons a, a.btn-red{
			color: $white;
			text-decoration: none;

			&:hover{
				color: $white;
				text-decoration: none;
			}
			&:visited {
				color: $white;
				text-decoration: none;
			}
			&:focus{
				color: $white;
				text-decoration: none;
			}
    }

		.top-nav a {
			color: $white;
			text-decoration: none;

			&:hover{
				color: $white;
				text-decoration: underline;
			}
			&:visited {
				color: $white;
				text-decoration: none;
			}
			&:focus{
				color: $white;
				text-decoration: none;
			}
		}

		a.yellow-btn{
			color: $black;
			text-decoration: none;

			&:hover{
				color: $black;
				text-decoration: none;
			}
			&:visited {
				color: $black;
				text-decoration: none;
			}
			&:focus{
				color: $black;
				text-decoration: none;
			}
		}


    .carousel-container .tagline,
    .event-body{
    	color: $white;
    }



	.footer-links,
	.footer-links a,
	.up-arrow,
	.artsvicGform-form-contact label,
	.contact-form label  { color: $black; }

	.arrow-list li:before {
		border-color: transparent transparent transparent $black;
	}

	.dark.arrow-list li:before,
	.side-nav li a.active:before {
		border-color: transparent transparent transparent $white;
	}


	.side-nav li a.active {
		background-color: $red;

		background: -moz-linear-gradient(top,  $red 100%, $red 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$red), color-stop(100%,$red)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $red 100%,$red 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  $red 100%,$red 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  $red 100%,$red 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $red 100%,$red 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

		//Adds fix for IE9
		-pie-background: linear-gradient(to bottom,  $red 100%,$red 100%);
		behavior: url(../PIE-1.0.0/PIE.htc);
		color: $white;
	}


	.light { background-color: rgba($light-grey,1); }
}
