//common button styles

.btn {
	position: relative;


	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(213, 210, 210, 1) 0%, rgba(224, 224, 224, 0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213, 210, 210, 1)), color-stop(100%,rgba(224, 224, 224, 0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(213, 210, 210, 1) 0%,rgba(224, 224, 224, 0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(213, 210, 210, 1) 0%,rgba(224, 224, 224, 0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(213, 210, 210, 1) 0%,rgba(224, 224, 224, 0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(213, 210, 210, 1) 0%,rgba(224, 224, 224, 0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

	-pie-background: linear-gradient(to bottom,  rgba(213, 210, 210, 1) 0%,rgba(255,255,255,0.2) 100%);
	behavior: url(../PIE-1.0.0/PIE.htc);

	border-radius: 0;
	//text-shadow: 0px 1px 0px $white;
	color: $red;

	&:hover {
		background: linear-gradient(to bottom, darken(rgba(213, 210, 210, 1), 20%) 0%,darken(rgba(224, 224, 224, 0.9), 20%) 100%); /* W3C */
		color: $red-dark;
	}

}

.btn-large {
	@extend .btn;

	display: block;
	height: 50px;
	width: 210px;
	padding: 0px 30px;

	line-height: 50px;
	text-align: left;
	color: $red;

	text-transform: uppercase;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 10px;
		border-color: transparent transparent transparent $red;
	}
	&:hover {
		&:after { border-color: transparent transparent transparent $red-dark; }
	}
}


.yellow-btn {
	display: block;
	border: 1px solid $yellow;
	background-color: $yellow;
	line-height: 38px;
	width: 180px;
	text-transform: uppercase;
	text-align: center;
	color: $black;

	&:hover {
		border: 1px solid darken($yellow, 20%);
		background-color: darken($yellow, 20%);
		color: $black;
	}

}

.btn-red,
.btn-red-sm,
.btn-red-round {
	display: block;
	border: 0;
	background-color: $red;
	width: 180px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: $white;

	&:hover {
		background-color: darken($red, 20%);
		color: $white;
	}
}

.btn-red-sm {
	width: 100%;
	line-height: 46px;
}

.btn-round,
.btn-red-round { border-radius: 20px; }


.btn-warning {
	@extend .btn-red-round;
	position: relative;
	text-align: left;
	text-indent: 38px;
	width: 220px;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 30px;
		margin-top: -5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 10px;
		border-color: transparent transparent transparent $white;
	}

}
