.clearfix { @extend %clearfix; }

aside {
	//margin-bottom: $baseline;
	min-height: 1px;
}

.nopadding,
.no-padding {
	padding: 0 !important;
}

.padding-right {
	padding-right: 15px !important;
	padding-left: 0 !important;
}

.padding-left {
	padding-left: 15px !important;
	padding-right: 0 !important;
}

@include media($not-mobile) {

	html,
	body { height: 100%; }

	.wrapper {
		min-height: 100%;

		#main {
			position: relative;
			padding-bottom: 500px;
			margin-bottom: 0 !important;
		}
	}

	footer {
		margin-top: -500px;
		height: 500px;
		clear: both;
	}

	aside.is-sticky {
		position: fixed;
		z-index: 8;
		top: 50px;
		width: 16.66666667%;
		margin-top: 24px;
		padding-right: 17px;
	}

	aside.stuck{
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-top: 24px;
		padding-right: 30px;
	}

}

/* .is-sticky{
	.side-nav{
		width: 66.66666667%;
		padding-right: 15px;

	}
}

.stuck{
	.side-nav{
		width: 100%;
		padding-right: 15px;

	}
} */


.ghost-center {
	position: relative;
}
.ghost-center::before {
	content: " ";
	display: inline-block;
	height: 100%;
	width: 1%;
	vertical-align: middle;
}
.ghost-center div {
	display: inline-block;
	vertical-align: middle;
}


.parent {
	position: relative;
}
.child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	@include media($not-desktop) {
		position: static;
		top: 50%;
		transform: translateY(0%);
	}
}


.mobile-page-tite .page-title {
	padding-left: 0px;
}
