/*

Typography
==========

Basic typography site-wide.

*/

// $baseline = 24px;


html { font-size: 62.5% } /* Sets up the Base 10 stuff */

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $white;
}

#main { -webkit-font-smoothing: antialiased; }

h1 {
	font-family: $secondary-font-family;
	font-weight: 500;
	@include font-size(3.4);
	line-height: 36px;
	margin-bottom: 36px;
}

h2 {
	font-family: $secondary-font-family;
	font-weight: 500;
    @include font-size(2.4);
    line-height: 28px;
    margin-bottom: 16px;
}

.h2-large{
  font-family: $secondary-font-family;
  font-weight: 300;
  @include font-size(4.8);
  line-height: 36px;
  margin-bottom: 32px;
}

h3 {
	font-family: $secondary-font-family;
	font-weight: 500;
    @include font-size(2.0);
    line-height: 36px;
    margin-bottom: $baseline;
}

.small-h3 {
	margin-bottom: $baseline/2;
	font-family: $base-font-family;
	font-weight: 700;
	line-height: 18px;
	@include font-size(1.4);
}

h4 {
	font-family: $secondary-font-family;
	font-weight: 500;
	@include font-size(1.8);
	line-height: 24px;
}


h5 {
	font-family: $secondary-font-family;
	font-weight: 500;
	@include font-size(1.8);
	line-height: 18px;
	margin-bottom: $baseline/2;
}
h6 {
	font-family: $secondary-font-family;
	font-weight: 500;
	@include font-size(1.4);
	line-height: 14px;
}

h1, h2, h3, h4, h5 { text-transform: uppercase; }

p {
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: $baseline;
}

.small-p { @include font-size(1.2); }

.large-p {
	@include font-size(2.4);
	line-height: 24px;
	margin-bottom: $baseline;
}


b, strong { font-weight: bold; }
em, i {	font-style: italic;}
.thin { font-weight: 100; }

.thin-italic {
	@extend .thin;
	font-style: italic;
}

sup {
  position: relative !important;
  font-size: 75% !important;
  line-height: 0 !important;
  vertical-align: super !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}
