//  ======================================  //
//
//  MEDIA QUERY MIXIN
//
//  Uses:
//  Variables from /base/_settings.scss
//
//  Sets up media queries to be used within
//  style declarations, using the @content
//  directive.
//
//  .example {
//      width: 200px;
//      @include media($mobile) { width: 100%; }
//  }
//
//  ======================================  //

@mixin media($media){
    // For each breakpoint in the collection
    @each $breakpoint in $media-queries {
        // See if the name matches defined media
        @if $media == $breakpoint {
            // Construct query string...
            $str: "only screen";
            // ...using each comma-separated value set
            @for $b from 1 through length($breakpoint) {
                $str: $str + " and (" + nth($breakpoint, $b) + ")";
            }
            // Output content with that interpolated query string
            @media #{$str} {
                @content;
            }
        }
    }    
}