/*
Non-compass clearfix
====================

Alternative non-compass clearfix. Used when a container needs to self clear any floated children.

*/

%clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
    .lt-ie8 & {
        zoom: 1;
    }
}
