
//adds both px and rem sizing for font.
// @include font-size(13);  will result in results in
//
//  font-size: 13px;
//	font-size: 1.3rem;



@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}