.contact-details {
	
	margin-bottom: 70px;

	.light { 
		padding: 70px 24px 24px; 
		background-color: rgba(255,255,255,0.2) !important;
	}

	@include media($not-desktop) { h2 { display: none; } }

}

.map {
	padding: 0;
	iframe { width: 100%; }
}


.info-block {
	position: relative;
	overflow: hidden;
	padding: 30px 15px 80px;
	text-align: center;


	h4 {
		margin-bottom: 15px; 
		text-transform: uppercase; 
		@include font-size(2.4);	}

	p { 
		min-height: 60px; 
		line-height: 20px;
		@include font-size(1.4);
	}

	.thin { 
		min-height: 40px; 
		@include font-size(1.8);
	}

	a { margin: 0 auto; }

}


