


.contact-us {

	margin-bottom: 115px;

	h2 {
		width: 100%;
		border-bottom: 1px solid #c3bcb7;
	}

	.address,
	.large-text {
		line-height: 24px;
		@include font-size(1.8);
	}

	article {
		margin-bottom: 64px;
	}
	@include media($not-desktop) {
		margin-bottom: 40px;
		text-align: center;

		.btn-red,
		.btn-large { margin: 0 auto; }
	}
}

.contact-form,
.artsvicGform-form-contact {
	@extend %clearfix;

	margin-bottom: 88px;

	.selectricWrapper,
	input{
		display: block;
		width: 100%;
		max-width: 360px;
		line-height: 50px;
	}

	textarea,
	input {
		margin-bottom: 10px;
		background-color: rgba(255,255,255,0.3);
		border: 1px solid $border-grey;
		outline: 0;
		padding-left: 20px !important;
		font-size: 14px !important;
		color: $black;
	}

	textarea {
		display: block;
		margin-bottom: 20px;
		width: 100%;
		max-width: 360px;
		min-height: 174px;
		padding: 20px !important;
		line-height: 20px;
		color: $black;
	}

	input {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	label{
		margin-bottom: 8px;
		text-transform: uppercase;
		@include font-size(1.6);
		color: $white;
	}

	::-webkit-input-placeholder {
	   text-transform: uppercase;
		@include font-size(1.6);
	   color: $white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   text-transform: uppercase;
		@include font-size(1.6);
	   color: $white;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   text-transform: uppercase;
		@include font-size(1.6);
	   color: $white;
	}

	:-ms-input-placeholder {
	   text-transform: uppercase;
		@include font-size(1.6);
	   color: $white;
	}


	input[type='submit'],
	.btn-red {

		background: #bb2036; /* Old browsers */
		background: -moz-linear-gradient(top,  #bb2036 0%, #8f1929 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb2036), color-stop(100%,#8f1929)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #bb2036 0%,#8f1929 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #bb2036 0%,#8f1929 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #bb2036 0%,#8f1929 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #bb2036 0%,#8f1929 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb2036', endColorstr='#8f1929',GradientType=0 ); /* IE6-9 */

		-pie-background: linear-gradient(to bottom,  #bb2036 0%,#8f1929 100%);
		behavior: url(../PIE-1.0.0/PIE.htc);

		padding: 0 !important;
		text-align: center;
		color: $white;



		display: block;
		border: 0;
		background-color: #bb2036;
		width: 180px;
		line-height: 40px;
		text-transform: uppercase;

    border-radius: 20px;
		font-weight: bold;
	}

	@include media($not-desktop) {

		.selectricWrapper,
		input,
		label,
		textarea {
			max-width: 100%;
			margin: 0 auto 10px;
			font-size: 14px;
		}

	}
}

.gform_footer {
	margin: 0 !important;
	padding: 0 !important;
}
.gform_wrapper .gform_body li.gfield.gfield_error,
.gform_wrapper .gform_body li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: transparent !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
	border-top: none !important;
	border-bottom: none !important;
}

.gform_wrapper .gform_body li.gfield.gfield_error.gfield_contains_required {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
}

.validation_error { display: none !important; }

.gform_wrapper li.gfield_error input[type=text], .gform_wrapper li.gfield_error input[type=url], .gform_wrapper li.gfield_error input[type=email], .gform_wrapper li.gfield_error input[type=tel], .gform_wrapper li.gfield_error input[type=number], .gform_wrapper li.gfield_error input[type=password], .gform_wrapper li.gfield_error textarea {
	border: 1px solid #fb0c1d !important;
}
