footer {
	position: relative;
	z-index: 1;


	.footer-intro {

		background-color: rgba(0,0,0,0.5);
		margin: 24px 0;
		padding: 24px;

		p {
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
			color: $white;
		}

	}

	.partners {

		@extend %clearfix;
		//display: inline-block;
		overflow: hidden;
		text-align: center;
		padding: 20px 0;

		li{
			padding: 20px 40px;
		}

		img {
			max-width: 100%;
			height: auto;
			//width: 100%;
		}

		@include media($not-mobile) {
			display: table;

			li{
				display: inline-block;
				vertical-align: middle;
				width: 20%;
			}
		}

		@include media($not-desktop) {
			display: block;

			li{
				display: inline-block;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	.services{

		padding: 40px 0 20px;
		text-align: center;
		color: $black;

		section {
			margin-bottom: $baseline;
		}


		h4 {
			text-transform: none;
			margin-bottom: $baseline;
		}

		span { @include font-size(3); }

		p { margin-bottom: 0; }

		a { margin: 0 auto $baseline; }
	}

	.footer-links {

		padding: 5px 0;

		@include media($not-desktop) {
			text-align: center;
		}

		@include media($not-mobile) {
			ul { text-align: left; }
			span { float: right; }
		}

		ul {
			@extend %clearfix;
			display: inline-block;

			li {
				display: block;
				float: left;

				&:before { content: '|'; }

				&:first-child {
					&:before { content: ''; }
				}

				a {
					padding: 0 5px;
					@include font-size(1.2);
					color: $white;
				}
			}
		}

		span {
			text-align: right;
			@include font-size(1.2);
		}
	}
}
