
.gallery-container { 

	margin-bottom: $baseline*2;
	padding: 0 12px; 


	.gallery-item {
		display: block;
		width: 330px;
		height: 330px;
		margin: 0 auto 5px;
	}

	figure {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		figcaption {
			display: none;
			max-width: 70%;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
      			-ms-transform: translate(-50%,-50%);
          			transform: translate(-50%,-50%);
			
			font-family: $secondary-font-family;
			font-weight: 300;
			color: $black;

			h6 { 
				font-weight: 700; 
				margin-bottom: $baseline/2;
			}
		}


		img {
			position: absolute;
			left: 50%;
			top: 50%;
			height: 100%;
			width: auto;
			-webkit-transform: translate(-50%,-50%);
			  -ms-transform: translate(-50%,-50%);
			      transform: translate(-50%,-50%);
		}

		&:hover {
			figcaption { display: block; }
		}
	}

}