.hero {
	position: relative;
	z-index: 1;
	top: -90px;
	width: 100%;

	@include media($not-desktop) { top: -12px; }
}

.carousel{
	background-color: $grey;
}
.carousel-container {

	@extend %clearfix;
	//max-width: 1600px;
	position: relative;
//	overflow: hidden;
	margin: 0 auto;

	.slides img {
		display:none;
		@include media($not-mobile) {
			display:block;
		}
	}

	.inner {
	//	overflow: hidden;
		max-width: 1170px;
		margin: 0 auto;

		img {
			display:block;
		}


		@include media($md) {
			//width: 900px;
		}


		@include media($not-mobile) {
			position: absolute;
			z-index: 10;
			top: 150px;
			//left: 15%;
		}

	}

	.tagline {
		overflow: hidden;

		@include media($not-desktop) {
			padding: 40px 15px;
			text-align: center;

			a { margin: 0 auto; }
		}

		@include media($not-mobile) {
			//max-width: 100%;
			float: left;
			position: relative;

			span {
				text-transform: uppercase;
				font-weight: 700;
			}

			h2 {
				margin-bottom: 32px;
				font-weight: 300;
				@include font-size(4.8);
				line-height: 42px;
			}

			p {
				margin-bottom: $baseline/2;
				max-width: 580px;
				@include media($md) {
					max-width: 400px;
				}
			}

			a { margin: 32px 0; }
		}

	}
}

.hero-img {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.hero-carousel-sm {
	position: relative;
	overflow: hidden;
	margin-bottom: 40px;

	.flex-control-paging a {
		height: 12px;
		width: 12px;
	}
}

.img-circle-right,
.img-circle-left,
.img-square-left,
.img-square-right {
	width: 100%;
	height: auto;
	max-width: 300px;
	border: 5px solid $white;
}

.img-circle-right,
.img-circle-left {
	overflow: hidden;

	border-radius: 50%;
	border: 5px solid $white;
}
@include media($not-desktop) {
	.img-circle-right,
	.img-circle-left,
	.img-square-left,
	.img-square-right {
		margin: 20px auto;
	}
}

@include media($not-mobile) {
	.img-circle-left,
	.img-square-left {
	//	float: left;
	//	margin: 0 40px 0;
	margin: 0 auto;
	}

	.img-square-right,
	.img-circle-right {
		//float: right;
	//	margin: 0 40px 0;
	margin: 0 auto;
	}
}
