.search-lg {
	
	padding: 10px;
	background-color: rgba(0,0,0,0.32);
	margin-bottom: 60px;

	input {
		background-color: rgba(255,255,255,0.1);
		border: 0;
		outline: 0;
		display: inline-block;
		line-height: 50px;
		width: 75.5%;
		padding: 0 15px;
		color: white;
	}

	.btn-red {
		display: inline-block;
		line-height: 45px;
		width: 210px;
		margin-left: 10px;

		@include font-size(1.6);
	}

}

.num-results {
	
	@include font-size(1.8); 
	margin-bottom: 30px;

	@include media($not-desktop) { margin-top: 12px; }

}