
.whats-on {
	text-align: center;
	margin-bottom: 110px; 
	
	@include media($not-desktop) { margin-bottom: 24px; }

	h2 { 
		text-transform: uppercase; 
		margin-bottom: 66px;
	}

	.col-md-4 { padding: 0; }
}

.media-section { 

	margin-bottom: 110px; 
	
	.media-body {
		@include media($not-desktop) {  
			text-align: center;
			margin-bottom: $baseline; 

			a {
				margin: 0 auto;
			}
		}
	}
}

.contact-details { text-align: center }
