.warning {

	display: none;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000;
	height: 100%;
	width: 100%;
	background-color: rgba(000, 000, 000, 0.7);

	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);

		max-width: 800px;
		@include media($sm) { width: 100%; }
		@include media($xs) { width: 100%; }

		background-color: rgba(255, 255, 255, 1);
		padding: 40px 0 !important;
		text-align: center;
		color: $black;

		.top-section {
			background-color: rgba(255, 255, 255, 1);
			padding: 20px 40px;

			p {
				margin-bottom: 0;
			}
		}
		.main-section {
			padding: 0 20px 40px;


			h2 {
				position: relative;
				display: inline-block;
				margin-bottom: 20px;

				&:before {
					content: '';
					position: absolute;
					top: 4px;
					left: -28px;
					z-index: 1;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 12px 24px;
					border-color: transparent transparent #ffe11a transparent;
				}
				&:after{
					content: '!';
					position: absolute;
					top: 0px;
					left: -18px;
					z-index: 10;
					@include font-size(1.8);
					color: white;
				}
			}

			p {
				max-width: 80%;
				margin: 0 auto 12px;

				& + p { margin-bottom: 40px; }
			}
		}
	}

	form {

		input,
		label {
			display: inline-block;
			margin-bottom: 24px;
		}

		label {
			position: relative;
			top: 2px;
		}

		span {
			display: none;
			margin-bottom: 12px;
			color: $red;
			&.is-active { display: block; }
		}

		button {
			margin: 0 auto;
		}
	}
}

blockquote {
	&:before,
	&:after {
		content: '\0027';
	}
}
