//background image
body {

  &:before {
    content: '';
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url('../img/bg-main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &.bg-white {
    &:before {
      background-image: none;
    }
  }
}
