
.breadcrumbs-container {
	@extend %clearfix;

	margin: 0 -15px 30px;
	padding: 15px 30px;
	background-color: rgba(0,0,0,0.2);
	
	.back-btn { 
		float: right; 
		.fa-angle-left { 
			@include font-size(1.6); 
			padding-right: 5px; 
		}
	}

	@include media($not-desktop) {
		background-color: transparent;
		text-align: center;
		.back-btn { 
			span { display: none; }
			float: none;
			position: absolute;
			left: 15px;

			.fa-angle-left { 
				@include font-size(3); 
				padding: 0; 
			}
		}
	}
}

.breadcrumbs {

	display: inline-block;

	li {
		display: inline-block;

		a {
			padding-left: 16px;

			&:after {
				content: '\f105';
				font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    @include font-size(1.6);
			    padding-left: 16px;
			}
		}

		&:first-child {
			a { padding-left: 0; }
		}

		&:last-child {

			a { 
				text-decoration: underline; 
				&:after {
					 content: '';
				}
			}
		}
	}
	@include media($not-desktop) {
		li {
			display: none;

			&:nth-last-of-type(2) { 
				display: block; 
				width: 100%;

				a:after { display: none; }

				a { 
					padding: 0; 
					line-height: 30px; 
				}
			}
		}
	}
}
