

// Event blocks are found on the homepage in the Whats on section.


.event-block {
	position: relative;
	z-index: 0;
	overflow: hidden;

	height: 327px;
	width: 327px;

	@include media($md) { 
		height: 305px;
		width: 305px;
	}


	left: 50%;
	margin-left: -163px;

	text-align: center;

	@include media($not-desktop) { margin-bottom: $baseline; }

	img {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;

		min-height: 100%;
		min-width: 100%;
		width: auto;
	}

	.event-body {
		@extend %transition-slow;
		height: 100%;
		width: 100%;

		position: relative;
		z-index: 10;
		top: 0;
		left: 0;
		padding: 30px;

		@include media($md) { padding: 15px; }

		background-color: rgba(0,0,0,0.7);

		&:hover { background-color: rgba(0,0,0,0.9); }

		span,
		h3 { text-transform: uppercase; }

		span { 
			display: block;
			padding-bottom: 20px; 
			font-weight: 100;
		}

		p,
		span { 

			line-height: 18px;
			@include font-size(1.4);
		}
		p { margin-bottom: 20px; }

		h3 { 
			margin-bottom: 20px; 
			@include font-size(2.4);
		}

		a { 
			position: absolute;
			bottom: 30px;

			left: 50%;
			margin-left: -105px;
			text-transform: uppercase;
		}
	}
}