

// content-feature-event are found on the Whats-on page


.content-feature-event {

	@extend %clearfix;

	margin-bottom: $baseline*2;

	.media-body {

		h4{
			text-transform: none;
		}

		time {
			display: block;
			margin-bottom: 8px;
			font-family: $secondary-font-family;
			font-weight: 500;
		}

		.start-date {

			@include font-size(1.8);

			span {
				line-height: 30px;
				@include font-size(1.8);
			}
		}

		p { margin-bottom: 16px; }

		.btn-large:after { display: none; }
	}
}

.media {
	@extend %clearfix;

	margin-bottom: 40px;

	p { margin-bottom: 24px; }

	@include media($xs) {

		.media-body,
		.media-right,
		.media-left {
			display: block;
		}
	}
}

.media,
.content-feature-event{

	@include media($xs) {
		.media-body,
		.media-right,
		.media-left {
			display: block;
			margin-bottom: $baseline;
		}
	}
}


.content-feature-event-detail {

	h2,
	h5,
	time,
	p { font-family: $base-font-family; }

	@include media($not-mobile) {

		position: relative;
		overflow: hidden;
		min-height: 350px;
		margin-bottom: 60px;

		img {
			position: absolute;
			top: 0;
			right: 0;
			width: 515px;
			height: auto;
		}

		h2,
		h5,
		time,
		p { max-width: 400px; }

		time {
			display: block;
			margin-bottom: 24px;
			@include font-size(1.4);
		}

		h2 {
			margin-bottom: 36px;
			line-height: 24px;
			@include font-size(2.4);
		}

		h5 { margin-bottom: 0; }

		p {
			margin-bottom: 16px;
			@include font-size(1.4);
		}
	}

	@include media($not-desktop) {

		margin-bottom: 30px;
		text-align: center;

		time { padding-bottom: 24px;}

		h5 { margin-bottom: 0; }

		h2,
		img { margin-bottom: 30px; }

		img {
			width: 100%;
			height: auto;
		}
	}


}
