/********************************
*    rounded radio button   	*
*********************************/

.radio-container {
	margin-bottom: 3px;
	padding: 1px 11px;
	text-align: left !important;
	background-color: rgba(0,0,0,0.2);

	label {
		text-transform: uppercase;
		line-height: 52px;
		position: relative;
		top: 1px;
		left: 3px;
	}
}

.btn-search { width: 100%; }





/****************************************
*  	Selectric plugin for dropdowns		*
****************************************/

.selectricWrapper {
	position: relative;
	margin: 0 0 10px;
	width: 100%;
	cursor: pointer;
}

.selectricResponsive { width: 100%; }

.selectric {
	background-color: rgba(255,255,255,1);
	position: relative;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	min-height: 18px;
	margin: 0 30px 0 0;
	padding: 0px 30px;

	line-height: 50px;
	text-transform: uppercase;
	text-align: left;
	@include font-size(1.4);
	color: $red;
}

.selectric .button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 50px;
	color: $red;
	text-align: left;
	font: 0/0 a;
	/* IE Fix */
	*font: 20px/50px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: $red;
	border-bottom: none;
}

.selectricHover .selectric { border-color: $red; }

.selectricHover .selectric .button { color: $red; }

.selectricHover .selectric .button:after { border-top-color: $red; }

.selectricOpen { z-index: 9999; }

.selectricOpen .selectric { background-color: rgba(255,255,255,1); }

.selectricOpen .selectricItems { display: block; }

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectricHideSelect {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}
.selectricHideSelect select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectricInput {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectricTempShow {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */
.selectricItems {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(255,255,255,1);
	border: 1px solid #CCC;
	z-index: -1;
	box-shadow: 0 0 10px -6px;
}

.selectricItems .selectricScroll {
  height: 100%;
  overflow: auto;
}

.selectricAbove .selectricItems {
  top: auto;
  bottom: 100%;
}

.selectricItems ul,
.selectricItems li {
	list-style: none;
	padding: 0;
	margin: 0;
	@include font-size(1.4);
	line-height: 50px;
	min-height: 50px;
}
.selectricItems li {
	display: block;
	position: relative;
	border-top: 1px solid $border-grey;
	padding: 0px 40px;

	text-transform: uppercase;
	color: #666;
	cursor: pointer;
}

.selectricItems li:hover {

	color: $red;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 10px;
		border-color: transparent transparent transparent $red;
	}

}

.selectricItems li.disabled {
	background: #F5F5F5;
	color: #BBB;
	border-top-color: #FAFAFA;
	cursor: default;
}



/*****************************
*		Sort form            *
******************************/

.sort-form {
	@extend %clearfix;
	margin-bottom: $baseline;

	@include media($not-desktop) {
		.padding-left {
			padding: 0 15px !important;
		}
	}
}


/*****************************
*	Booking link & info      *
******************************/

.booking-block {

	padding: $baseline $baseline/3;

	p { margin-bottom: $baseline; }

	a { color: $red;}

	.btn { width: 100%; }
}


/*****************************
*	Search Form 		     *
******************************/


.search-form{
	button {
		line-height: 47px;
	}
	@include media($not-mobile) {
		button {
			text-align: left;
			padding-left: 20px;
		}
	}

	@include media($not-desktop) {

		padding: 0 15px !important;

	}
}

.search-mobile {

	@include media($not-mobile) {
		display: none;
	}

	@include media($not-desktop) {
		position: relative;

		input {
			width: 100%;
			background-color: darken($red, 20);
			line-height: 50px;

			font-family: $secondary-font-family;
			text-indent: 40px;
			-webkit-font-smoothing: antialiased;

			outline: none;
			border: none;

			color: $white;
		}

		::-webkit-input-placeholder {
	 	  	text-transform: uppercase;
	 		color: $white;
	 		@include font-size(1.4);
		}

		:-moz-placeholder { /* Firefox 18- */
	 	  	text-transform: uppercase;
	 		color: $white;
	 		@include font-size(1.4);
		}

		::-moz-placeholder {  /* Firefox 19+ */
		  	text-transform: uppercase;
	 		color: $white;
	 		@include font-size(1.4);
	 	}

		:-ms-input-placeholder {
	 	  	text-transform: uppercase;
	 		color: $white;
	 		@include font-size(1.4);
	 	}

		i {
			position: absolute;
			top: 0;
			right: 20px;
			line-height: 50px;
			color: $white;
		}
	}
}


/*****************************
*	Contact Form 		     *
******************************/
input {
	color : $black
}



.gform_wrapper .gfield_label_hidden.gfield_contains_required>.ginput_container, .gform_wrapper .gfield_label_hidden.gfield_contains_required>.clear-multi {
  margin-top: 0px !important;
}

.gform_wrapper {
	margin: 0 !important;
}

.ginput_container{
	margin-top: 0px;
}
