.info-block {
	position: relative;
	overflow: hidden;
	padding: 30px 15px 80px;
	text-align: center;


	h4 {
		margin-bottom: 15px; 
		text-transform: uppercase; 
		font-size: 24px;
	}

	p { 
		min-height: 60px; 
		line-height: 20px;
		font-size: 14px;
	}

	.thin { 
		min-height: 40px; 
		font-size: 18px;
	}

	a { margin: 0 auto; }

}
