.inline-list {

	margin-bottom: $baseline;

	li {
		display: inline;
		padding-right: 10px;
	}
}



.arrow-list {
	padding: 0 $baseline;
	margin-bottom: $baseline;

	li {
		position: relative;
		margin-top: $baseline;
		margin-left: 30px;

		&:first-child { margin-top: 0; }

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -30px;
			margin-top: -5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 10px;
			border-color: transparent transparent transparent $white;
		}
	}
}

.dark.arrow-list {
	padding: $baseline;
	margin-bottom: $baseline;
}

.checkbox-list {

	li {
		padding: 1px 20px;
		margin-bottom: 3px;
	}
}


.search-results {

	margin-bottom: 60px;

	li {
		margin-bottom: 30px;
		list-style-type: decimal;
		list-style-position: outside;

		margin-left: 22px;
	}

	a {
		display: block;
		margin-bottom: 14px;
		text-decoration: underline;
		@include font-size(1.8);
	}

	a,
	p { font-family: $base-font-family; }

}
