
.content-feature-event {

	@extend %clearfix;

	margin-bottom: $baseline*2; 
	
	.media-body {

		time {
			display: block;
			margin-bottom: $baseline/3;
			font-family: $secondary-font-family;
			font-weight: 300;
		}

		.start-date {

			font-size: 24px;
			font-size: 2.4rem;
			
			span {  
				font-size: 30px;
				font-size: 3.0rem;
			}
		}

		p { margin-bottom: $baseline/2; }

	}
}


.media {
	@extend %clearfix;
	
	margin-bottom: $baseline*1.7;

	p { margin-bottom: $baseline }

	@include media($xs) {  

		.media-body,
		.media-right,
		.media-left {
			display: block;
		}

	}

}
.media,
.content-feature-event{
	
	@include media($xs) {
		.media-body,
		.media-right,
		.media-left { 
			display: block; 
			margin-bottom: $baseline;
		}
	}
}


