.top-nav {

	ul { 
		@extend %clearfix; 
		height: 50px;
	}

	li { 
		display: block;
		float: left;
		position: relative;
		top: 50%;
		margin-top: -20px;
		
		&:before { content: '|'; }
		
		&:first-child { 
			&:before { content: ''; }
		}

		a { 
			position: relative;
			padding: 5px;
			line-height: 40px;
			font-family: $base-font-family;
			-webkit-font-smoothing: antialiased;
			font-size: 14px;
			color: $white; 
		}
	}
}

.main-nav {

	li {
		a {
			//font-family: $base-font-family;
			font-family: $secondary-font-family;
			font-size: $base-font-size;
			line-height: $base-line-height;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0px 1px 0px #E8E6E6;
		}
	}
	.expand {
		
		> a { 
			&:after {
				content: "\f107";
				font-family: FontAwesome;
				position: absolute;
				right: 0;
			}
		}
	}

	@include media($not-mobile) {

		.level-1 { 

			@extend %clearfix; 

			> li { 

				position: relative;
				z-index: 1000;
				display: block;
				float: left;
				padding: 15px 0;

				&:hover { 
					.level-2 { display: block !important; }
				}

				a { 
					padding: 0 24px;
					color: $black;

					&:hover { color: $red; }
				}
				.active { color: $red; }
			}

		}

		.level-2 {
			display: none;
			position: absolute;
			z-index: 1000;
			top: 48px;
			min-width: 250px;
			background-color: rgba(255,255,255,0.8);

			> li {
				display: block;
				border-bottom: 1px solid $border-grey;
				a {
					display: block;
					padding: 16px 16px;
				}
			}
		}
	}	

	@include media($not-desktop) {
	
		display: none;
		width: 80%;
		
		position: absolute;
		z-index: 1000;
		top: 40%;
		right: 0;

		&.is-active { display: block; }

		.level-1,
		.level-2 { 

			li { 
				float: none;
				padding: 0;
				background-color: $red;
				border-bottom: 1px solid $red-light;

				a {
					position: relative;
					display: block;
					width: 100%;
					padding: 16px 16px 16px 40px;
					color: $white;

					&.active,
					&:hover {
						
						color: $white;
						background-color: #c94d5e;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 10px;
							margin-top: -5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 5px 0 5px 10px;
							border-color: transparent transparent transparent $white;
						}
					}
				}
			}
			.expand {

				> a { 
					&:after { right: 20px; }
				}
			}
		}

		.level-2 { 
			display: block;
			> li { 
				a { padding-left: 60px; }
			}
		}

	}	
}

.side-nav {

	ul { margin-bottom: $baseline/2; }

	li {
		
		a{
			position: relative;
			display: block;
			background-color: rgba(0,0,0,0.2);
			width: 100%;
			margin-bottom: 2px;
			padding: 16px 16px 16px 30px;
			text-transform: uppercase;
			font-family: $secondary-font-family;
			font-size: $base-font-size;


			&:hover { background-color: $black; }

			&.active {
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

				//Adds fix for IE9
				-pie-background: linear-gradient(to bottom,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%);
				behavior: url(../PIE-1.0.0/PIE.htc);
				
				color: $red;
			}

			&.active,
			&:hover {
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 10px;
					margin-top: -5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 0 5px 10px;
					border-color: transparent transparent transparent $red;
				}
			}
			
		}
	}

	@include media($not-desktop) { display: none; }


}