.side-nav {

	ul { margin-bottom: $baseline/2; }

	li {

		a{
			position: relative;
			display: block;
			background-color: rgba(0,0,0,0.2);
			width: 100%;
			margin-bottom: 2px;
			padding: 16px 16px 16px 30px;
			text-transform: uppercase;
			font-family: $secondary-font-family;
			@include font-size(1.4);


			&:hover { background-color: $black; }

			&.active {
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 5%, rgba(255,255,255,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

				//Adds fix for IE9
				-pie-background: linear-gradient(to bottom,  rgba(255,255,255,1) 5%,rgba(255,255,255,0) 100%);
				behavior: url(../PIE-1.0.0/PIE.htc);

				color: $red;
			}

			&.active,
			&:hover {
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 10px;
					margin-top: -5px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 0 5px 10px;
					border-color: transparent transparent transparent $red;
				}
			}

		}
	}

	@include media($not-desktop) { display: none; }

}

.side-nav-container {
	display: none;
	@include media($not-mobile) { display: block; }

}
