
.main-nav {

	li {
		a {
			font-family: $secondary-font-family;
			@include font-size(1.4);
			line-height: $base-line-height;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-font-smoothing: antialiased;
		}
	}
	.expand {

		span { display: none; }

		> a {
			&:after {
				content: "\f107";
				font-family: FontAwesome;
				position: absolute;
				right: 5px;
			}
		}
	}

	@include media($not-mobile) {

		.level-1 {

			@extend %clearfix;

			& > li {

				position: relative;
				z-index: 1000;
				display: block;
				float: left;
				padding: 15px 0;

				&:hover {
					.level-2 { display: block !important; }
				}

				a {
					padding: 0 24px;
					text-shadow: 0px 1px 0px #E8E6E6;
					color: $black;

					&:hover { color: $red; }

				}
				.active { color: $red; }

				&:first-child a{
					padding: 0 24px 0 0;
				}
			}





		}

		.level-2 {

			display: none;
			position: absolute;
			z-index: 1000;
			top: 48px;
			min-width: 250px;
			background-color: rgba(255,255,255,1);

			> li {
				display: block;
				border-bottom: 1px solid $border-grey;
				a {
					display: block;
					padding: 16px 16px;
					padding-left: 25px;
				}
			}
		}
	}

	@include media($not-desktop) {

		display: none;
		width: 80%;
		overflow: auto;

		position: absolute;
		z-index: 100000;
		top: 40%;
		right: 0;

		overflow-x: hidden;
		overflow-y: scroll;
		//height: 600px;

		&.is-active { display: block; }

		.level-1,
		.level-2 {

			li {
				float: none;
				padding: 0;
				background-color: $red;
				border-bottom: 1px solid $red-light;

				&:last-child { border-bottom: 0; }

				a {
					position: relative;
					display: block;
					width: 100%;
					padding: 16px 16px 16px 40px;
					color: $white;

					&.active,
					&:hover {

						color: $white;
						background-color: #c94d5e;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 10px;
							margin-top: -5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 5px 0 5px 10px;
							border-color: transparent transparent transparent $white;
						}
					}
				}
			}
			.expand {

				span {
					-webkit-font-smoothing: antialiased;
					display: block;
					background-color: $red;
					padding: 16px 16px 16px 40px;

					text-transform: uppercase;
					font-family: $secondary-font-family;
					@include font-size(1.4);
					line-height: $base-line-height;
					color: $white;

					cursor: pointer;

					&:after {
						content: "\f107";
						font-family: FontAwesome;
						position: absolute;
						left: 20px;
					}

					&:hover {
						color: $white;
						background-color: #c94d5e;
					}
				}

				> a {
					display: none;
					border-bottom: 1px solid #c64658;
					padding-left: 80px;
					&:after { display: none; }

				}

				.level-2 { display: none; }

				&.is-open {

					span:after {
						content: "\f106";
					}

					a { display: block; }
					.level-2 {
						position: relative;
						display: block;

						a { padding-left: 80px; }

					}
				}
			}
		}
	}
}
