.top-nav {
	float: right;

	ul { 
		@extend %clearfix; 
		height: 50px;
	}

	li { 
		display: block;
		float: left;
		position: relative;
		top: 50%;
		margin-top: -20px;
		
		&:before { content: '|'; }
		
		&:first-child,
		&:last-child { 
			&:before { content: ''; }
		}

		a { 
			position: relative;
			padding: 5px;
			line-height: 40px;
			font-family: $base-font-family;
			-webkit-font-smoothing: antialiased;
			@include font-size(1.4);
			color: $white; 
		}
	}
}
