.page-title {

	.yellow-btn { 
		width: 80px; 
		font-family: $secondary-font-family;
		@include font-size(1.4);
	}

	@include media($not-desktop) { 
		position: relative;
		
		margin-bottom: $baseline/2;
		padding-left: 0;

		h1 { 
			margin-bottom: 0;
			padding-left: 15px;
			font-weight: 500;
			@include font-size(1.4);
			line-height: 52px;
		}

		a {
			position: absolute;
			top: 0;
			right: 0;
			line-height: 50px;
		}
	}

}


.mobile-page-tite {
	
	height: 50px;
	margin-bottom: 12px;
	padding: 0;

	.page-title { background-color: rgba(255,255,255,.3); }
}