/*****************************
*	Page pagination		     *	
******************************/

.page-pagination { margin: 40px 0; text-align: center; }


a.page-numbers {
	padding: 10px;
	background-color: rgba(255,255,255,0.5);
	border: none;
	margin: 0 3px;
	color: $red;
	border: none;
	min-width: 40px;
	display: inline-block;
	&:hover { background-color: $black; }
}

span.page-numbers.current {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
	min-width: 40px;
	display: inline-block;
	margin: 0 3px;
}