.job-opening {

	table {
		margin-bottom: $baseline*2;
		table-layout: fixed;
		width: 100%;
		th, 
		td { padding-bottom: $baseline/2; }
		
		th { 
			width: 40%;
			text-transform: uppercase; 
		}
	}
}