.titled-article {
	@extend %clearfix;
	position: relative;
	margin-bottom: $baseline*2; 

	h2.light { padding: 12px 20px; }

	p { margin-bottom: $baseline; }

	.media-left,
	.media-right { 
		max-width: 400px; 
		figure { overflow: hidden;}
	}

	img {
		height: auto;
		max-width: 400px; 
		@include media($not-desktop) { 
			max-width: 100%;
		}
	}
	.media-right, .media>.pull-right {
		@include media($not-desktop) { 
			padding-left: 0;
		}
	}
}

.donation {

	h2 { margin-bottom: $baseline*2.5; }

	.donate {
		position: absolute;
		top: -45px;
		right: -10px;
		border-radius: 50%;
		width: 140px;
		line-height: 140px;

		@include media($not-desktop) { 
			position: absolute;
			top: 0px;
			right: 0px;
			border-radius: 0%;
			width: 100px;
			line-height: 50px;
		}
	}
}