.up-arrow {
	
	@extend %clearfix;
	display: none;

	position: fixed;
	z-index: 1000;
	bottom: 40px;
	left: 95%;
	padding: 0 5px;

	@include media($not-desktop) {  left: 90%; }

	&.is-active { display: block; }
	&.is-stopped {
		position: absolute;
		bottom: 20px;
	}


	&:hover, 
	&:active,
	&:focus { color: $red; }

	i { @include font-size(4.4); }
}